<!DOCTYPE html>
<html>
<head>
  <title>Stoka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.14&amp;sensor=false&amp;libraries=geometry', media: 'all' %>
  <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.1.2/src/markerclusterer_packed.js' %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<%= render 'layouts/flash_modal' %>
	<%= yield %>
</div>

</body>
</html>
